/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
text-align: center;
margin:0; /* remove default margin */
padding:0; /* remove default padding */
width:100%; /* take full browser width */
height:100%; /* take full browser height*/
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	background-image:url(background.png);
	text-align: left;
	font-family: "Segoe UI", Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

* 
{
  margin: 0 auto 0 auto;
 text-align:left;
}

p {text-align: left;}

#page
{
  width:581px;
}

#header
{
width:581px;
height:90px;
background-image:url(header.png);
clear:both;
}

#header img
{
display:block;
margin:0 auto 0 auto;
padding-top:24px;
}


#content
{
background-image:url(content_back_shadow.png);
background-repeat:repeat-y;
width:581px;
}

#content #container
{
float:left;
background-image:url(gradient_rectangle_back.png);
background-repeat:repeat-x;
background-color:#4586F1;
width:547px;
margin-left:14px;
clear:both;
}

#menu
{
background-image:url(menu_background.png);
height:54px;
width:527px;
}

#menu ul {
	padding: 0px;
	list-style-type: none;
	text-align:left;
	height:40px;

}
#menu ul li , #menu ul li a, #menu ul li a:visited{
	display:block;
	float:left;
	margin: 0px;
	text-align: left;
	line-height:40px;
	color:#FFFFFF;
	padding-left:10px;
	padding-right:14px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	width:auto;
}

#menu ul li a:hover{
color:#65A9ED;
}

#content #main
{
display:block;
width:527px;
clear:both
}

#content #text
{
margin:0;
padding:0;
width:497px;
display:block;
background-color:#FFFFFF;
float:left;
min-height:400px;
clear:both;
padding-left:15px;
padding-right:15px;
}

.screen .main {
	width: 100%; /* <--now this takes full browser dimension  */
	height: 100%; /* <--now this takes full browser dimension  */
}

img.examples
{
	padding: 2%;
	width: 46%;
	vertical-align: middle;
}

.description
{
	align-content: stretch;
	text-align: center !important;
	float:left;
	padding: 2%;
	width: 46%;

}
#divBlock 
{
	padding-top: 2%;
	text-align:center; 
	font-size:xx-large;
}
#divLabel 
{
	text-align:center;
	font-size: small;
}

.clear {
    clear:both;
}

.collapsible {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18px;
}

.active, .collapsible:hover {
	background-color: rgb(151, 151, 151);
}

.content {
	padding: 0px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	vertical-align: middle;
}

.links
{
	text-decoration: none;
	color: rgb(30, 120, 180)
}

#content #text h1, #content #text h1 a, #content #text h1 a:visited
{
margin:0;
padding:0;
color:#093175;
font-size:24px;
margin-bottom:7px;
margin-top:7px;
}

#content #text p
{
margin-top:5px;
margin-bottom:5px;
padding:0;
}


#footer
{
background-image:url(footer.png);
background-repeat:no-repeat;
width:581px;
height:60px;
font-size:11px;
color:#C5DDFA;
text-align:right;
}

#footer p
{
text-align:center;
padding-top:20px;
}

#footer a, #footer a:visited
{
font-size:11px;
color:#C5DDFA;
text-decoration:none;
}


